header {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: Roboto;
}

span {
  background-color: yellow;
}

h1, h2 {
  font-family:Roboto;
  text-align: Center;
}
.modal-content {
  padding-top: 50px; /* Location of the box */
  background-color: #f2f2f2;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  width: 500px; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 2%
}
.text {
    font-size: 14px;
}

.text_input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Roboto;
}

.image_button[type=submit] {
    width: 20px;
    background: url({{ url_for('static', filename='image/delete.png') }});
    border: 0;
    display: block;
}